#demo {
    font-size: 50px;
}

#contents {
    padding: 0 30%;
}

#container {
    text-align: center;
}

#list_container {
    padding : 10% 0;
}

#list-item {
    display: flex;
}

#todo_Checked { 
    text-decoration: line-through;
    color: dimgray;
}

#items_container > #list-item {
    display: flex;
    align-items: center;
    width: 100%;
    border: #000 2px;
    padding : 2%;
}