* {
    margin: 0;
    padding: 0;
}

#contents {
    padding: 5% 20%;
    margin-bottom: 3%;
    background-color: #CED8F6;
}

#container {
    text-align: center;
}

#list-item {
    display: flex;
}

#todo_Checked { 
    text-decoration: line-through;
    color: dimgray;
}

#items_container > #list-item {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    border: #000 2px;
    padding : 1% 5%;
}